.__avatar{
    width: 5em;
    height: 5em;
    border-radius: 50%;
    background: $grey;
    color: #fff;
    border: 0.3em solid #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    position: relative;
    .__user{
      height: 80%;
      margin: 1.5em auto;
      display: block;
    }
    .__camera{
      border: 2px solid red;
      width: 2em;
      height: 2em;
      position: absolute;
      top: 0;
      z-index: 2;
      color: red;
    }
}