.__flex, .__flex-stretch, .__column{
    display: flex;
}
.__flex{
    align-items: center;
}
.__flex-stretch{
    align-items: stretch;
}
.__sb{
    justify-content: space-between;
}
.__flex-center{
    justify-content: center;
}
.__align-center{
    align-items: center;
}
.__f1{
    flex: 1;
}
.__column{
    flex-direction: column;
}