.__LoginPage{
    width: 330px;
    margin: 5em auto;
    .__title{
        font-size: 3em;
        font-weight: bolder;
        font-family: 'Josefin Sans', sans-serif;
        margin: 0 0 1em 0;
    }
    .__input, .__btn{
        margin-top: 2em;
        &:first-child{
            margin-top: 1em;
        }
    }
    .__subtitle{
        margin: 0 0 1em 0;
    }
    .__link{
        float: right;
        margin-top: 0.2em;
    }
    @media (max-width: 400px) {
        margin: 10%;
        width: initial;
        .__title{
            font-size: 2.4em;
        }
    }
}