.__spinner {
    display: inline-block;
    position: relative;
    width: 7em;
    height: 7em;
    &::after, &::before{
        content: '';
        position: absolute;
        width: calc(100% - 1.6em);
        height: calc(100% - 1.6em);
        border: 0.8em solid;
        border-radius: 50%;
        animation: Spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: $primary transparent transparent transparent;
        left: 0;
        top: 0;
    }
    &::after{
        animation-delay: -0.45s;
    }
    &::before{
        animation-delay: -0.3s;
    }
}
@keyframes Spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
  