.__upload-profile-picture{
    width: 330px;
    margin: 5em auto;
    position: relative;
    .__title{
        font-size: 3em;
        font-weight: bolder;
        font-family: 'Josefin Sans', sans-serif;
        margin: 0 0 1em 0;
    }
    .__avatar{
        font-size: 3em;
        margin: auto;
    }
    .__camera{
        
    }
    @media (max-width: 400px) {
        margin: 10%;
        width: initial;
        
        .__title{
            font-size: 2.4em;
        }
    }
}